In [3]:
import pandas as pd

df = pd.read_csv('/home/becode/Desktop/becode_projects/Real-Estate-Price-Prediction/Data_Analysis/propertydataoriginal-workingfile.csv')
dataset = df.drop(columns=['Unnamed: 0',
 'user_loginStatus',
 'user_id',
 'user_personal_language','customer_id',
 'customer_name',
 'customer_family',
 'customer_groupInfo_id',
 'customer_groupInfo_name',
 'customer_networkInfo_id',
 'customer_networkInfo_name',
 'screen_name','screen_language'])
dataset.isnull()
dataset.dropna(subset = ['classified_id'], inplace=True)
dataset.shape
#dataset.loc[351]

(25279, 23)

In [4]:
dataset.isnull().sum()

classified_id                                                0
classified_type                                              0
classified_subtype                                           0
classified_price                                             0
classified_transactionType                                   0
classified_zip                                               0
classified_visualisationOption                               0
classified_kitchen_type                                   7976
classified_building_constructionYear                     10270
classified_building_condition                             6294
classified_energy_heatingType                             7262
classified_certificates_primaryEnergyConsumptionLevel     5967
classified_bedroom_count                                  1772
classified_land_surface                                  11979
classified_atticExists                                   21428
classified_basementExists                                13504
classified_outdoor_garden_surface                        19418
classified_outdoor_terrace_exists                         9726
classified_specificities_SME_office_exists               20954
classified_wellnessEquipment_hasSwimmingPool             24487
classified_parking_parkingSpaceCount_indoor              15054
classified_parking_parkingSpaceCount_outdoor             16838
classified_condition_isNewlyBuilt                        21206
dtype: int64

In [5]:
dataset['classified_kitchen_type'] = dataset['classified_kitchen_type'].fillna('Not Specified')
dataset.isnull().sum()

classified_id                                                0
classified_type                                              0
classified_subtype                                           0
classified_price                                             0
classified_transactionType                                   0
classified_zip                                               0
classified_visualisationOption                               0
classified_kitchen_type                                      0
classified_building_constructionYear                     10270
classified_building_condition                             6294
classified_energy_heatingType                             7262
classified_certificates_primaryEnergyConsumptionLevel     5967
classified_bedroom_count                                  1772
classified_land_surface                                  11979
classified_atticExists                                   21428
classified_basementExists                                13504
classified_outdoor_garden_surface                        19418
classified_outdoor_terrace_exists                         9726
classified_specificities_SME_office_exists               20954
classified_wellnessEquipment_hasSwimmingPool             24487
classified_parking_parkingSpaceCount_indoor              15054
classified_parking_parkingSpaceCount_outdoor             16838
classified_condition_isNewlyBuilt                        21206
dtype: int64

In [6]:
print(dataset['classified_kitchen_type'].value_counts())

installed           8325
Not Specified       7976
hyperequipped       3302
semiequipped        2181
usahyperequipped    1413
notinstalled        1374
usainstalled         558
usasemiequipped      136
usauninstalled        14
Name: classified_kitchen_type, dtype: int64

In [7]:
dataset['classified_building_condition'] = dataset['classified_building_condition'].fillna('Not Specified')
print(dataset['classified_building_condition'].value_counts())

good             7650
Not Specified    6294
asnew            5515
torenovate       2214
tobedoneup       2160
justrenovated    1355
torestore          91
Name: classified_building_condition, dtype: int64

In [8]:
print(dataset['classified_price'].value_counts())

275000           489
299000           362
295000           357
249000           343
260000           335
                ...
185000-215000      1
376500-376500      1
206550-316050      1
244500-357700      1
327440             1
Name: classified_price, Length: 2973, dtype: int64

In [9]:
print(dataset['classified_zip'].value_counts())

1180.0    679
4000.0    631
8300.0    566
1420.0    563
1000.0    515
         ...
7640.0      1
5024.0      1
5080.0      1
7803.0      1
5022.0      1
Name: classified_zip, Length: 903, dtype: int64

In [10]:
dataset['classified_zip'] = dataset['classified_zip'].astype(int).astype(str)

In [11]:
print(dataset['classified_zip'].value_counts())

1180    679
4000    631
8300    566
1420    563
1000    515
       ...
6823      1
4710      1
6211      1
7801      1
7031      1
Name: classified_zip, Length: 903, dtype: int64

In [12]:
dataset['classified_id'] = dataset['classified_id'].astype(int).astype(str)
dataset['classified_id'].duplicated(keep = False).sum()

5462

In [13]:
dataset.duplicated(keep = False).sum()
dataframe = dataset.drop_duplicates()
dataframe.shape

(19993, 23)

In [29]:
dataframe['classified_price'].value_counts()
dataframe[['classified_price', 'new_price']] = dataframe['classified_price'].str.split('-', expand = True)
dataframe['classified_price'].str.contains('-').value_counts()

False    19993
Name: classified_price, dtype: int64

In [30]:
dataframe.head()

,classified_id,classified_type,classified_subtype,classified_price,classified_transactionType,classified_zip,classified_visualisationOption,classified_kitchen_type,classified_building_constructionYear,classified_building_condition,...,classified_atticExists,classified_basementExists,classified_outdoor_garden_surface,classified_outdoor_terrace_exists,classified_specificities_SME_office_exists,classified_wellnessEquipment_hasSwimmingPool,classified_parking_parkingSpaceCount_indoor,classified_parking_parkingSpaceCount_outdoor,classified_condition_isNewlyBuilt,new_price
0,10146915,apartment,apartment,339000,forsale,9890,xl,hyperequipped,2021.0,asnew,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,1.0,None
1,10156372,apartment,apartment,395000,forsale,1140,xl,usahyperequipped,2022.0,asnew,...,NaN,True,NaN,True,NaN,NaN,1.0,NaN,1.0,None
2,10154682,apartment,apartment,965000,forsale,1150,xl,usahyperequipped,2021.0,asnew,...,NaN,NaN,NaN,True,NaN,NaN,1.0,NaN,1.0,None
3,10157770,apartment,apartment,249000,forsale,1800,xl,installed,2010.0,good,...,NaN,True,NaN,True,NaN,NaN,1.0,NaN,NaN,None
4,10157545,apartment,apartment,325000,forsale,8380,xl,hyperequipped,1967.0,asnew,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,None

In [31]:
print(dataset['classified_price'].value_counts())

275000           489
299000           362
295000           357
249000           343
260000           335
                ...
185000-215000      1
376500-376500      1
206550-316050      1
244500-357700      1
327440             1
Name: classified_price, Length: 2973, dtype: int64

In [32]:
print(dataframe['classified_price'].value_counts())

299000    320
295000    273
199000    266
395000    250
249000    249
         ...
317203      1
404442      1
372992      1
217929      1
456500      1
Name: classified_price, Length: 2058, dtype: int64